:root {
  --brand-blue: #2196f3;
  --brand-blue-transparent: rgba(33, 150, 243, 90%);
  --background-grey: #2f303a;
  --light-grey: #757575;
  --lighter-grey: #f5f4fa;
  --darkest: #212121;
  --white: #fff;
  --black: #000;
  --black-transparent: rgba(0, 0, 0, 20%);
  --nearly-black: rgba(0, 0, 0, 10%);
  --medium-black: rgba(0, 0, 0, 15%);
  --grey-transparent: rgba(47, 48, 58, 80%);
  --transparent-white: rgba(255, 255, 255, 60%);
  --border-white: rgba(255, 255, 255, 30%);
  --border-grey: rgba(33, 33, 33, 20%);
  --white-ten: rgba(255, 255, 255, 10%);
  --line-light: #ececec;
  --leaflet-border: #eee;
  --social-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--darkest);
  background-color: var(--white);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  color: var(--brand-blue);
  line-height: 1.2;
}
.logo-upper {
  color: var(--black);
}
.logo-bottom {
  color: var(--white);
}
.line {
  border-top: 1px solid var(--line-light);
}
.tel-mail {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.tel-mail-icon {
  margin-right: 10px;
  fill: currentColor;
}
.tel-mail-link {
  font-weight: 500;
  color: var(--light-grey);
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-align: right;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.tel-mail-link:hover,
.tel-mail-link:focus {
  color: var(--brand-blue);
  outline: transparent;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-left: 93px;
}
.nav-hover {
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-link {
  color: var(--darkest);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  transition-property: background-color, width;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-blue);
}
.nav-link:hover::after,
.nav-link:focus::after {
  display: block;
  background-color: var(--brand-blue);
  width: 100%;
}
.nav-link-current {
  color: var(--brand-blue);
}
.nav-link-current::after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}
.slogan-section {
  background-color: var(--background-grey);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
}
.slogan {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
  color: var(--white);
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
}
.button-order {
  background-color: var(--brand-blue);
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.06em;
  line-height: 1.9;
  padding: 10px 41px;
  margin: 30px auto 0;
}
.advantage-icon {
  background-color: var(--lighter-grey);
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.advantage {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.1;
}
.advantage-text {
  line-height: 1.7;
  color: var(--light-grey);
  margin-top: 10px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
.team-box {
  background-color: var(--lighter-grey);
}
.member-box {
  background-color: var(--white);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.position {
  font-size: 16px;
  color: var(--light-grey);
  line-height: 1.2;
  margin-top: 10px;
}
.social-links {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.circle:hover,
.circle:focus {
  background-color: var(--brand-blue);
  color: var(--white);
  outline: transparent;
}
.circle-bottom {
  background-color: var(--white-ten);
  fill: var(--white);
}
.bottom-box {
  background-color: var(--background-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-links a {
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.address-links a:hover,
.address-links a:focus {
  color: var(--brand-blue);
}
.bottom-address {
  color: var(--white);
}
.bottom-tel-mail {
  color: var(--transparent-white);
}
.filter-button {
  font-size: 16px;
  font-weight: 500;
  color: var(--darkest);
  letter-spacing: 0.03em;
  line-height: 1.6;
  background-color: var(--lighter-grey);
  padding: 6px 25px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.filter-button:hover:hover,
.filter-button:focus:focus,
.filter-button:active:active {
  background-color: var(--brand-blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}
.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}
.project-box {
  display: flex;
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}
.project-type {
  font-size: 16px;
  color: var(--light-grey);
  line-height: 1.9;
  margin-top: 4px;
}
.project-text {
  padding: 20px 24px;
  border-left: 1px solid var(--leaflet-border);
  border-right: 1px solid var(--leaflet-border);
  border-bottom: 1px solid var(--leaflet-border);
}
.project-overlay {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-blue-transparent);
  color: var(--white);
  font-size: 18px;
  line-height: 1.6;
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu-container {
  display: flex;
  align-items: center;
  height: 80px;
}
.header-line {
  border-bottom: 1px solid var(--line-light);
}
.advantage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantage-item {
  flex-basis: calc((100% - 90px) / 4);
}
.jobs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.jobs-section {
  padding-top: 0;
}
.job-box {
  position: relative;
}
.job-text {
  display: flex;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-transparent);
  position: absolute;
  bottom: 0;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.address-margin {
  margin-top: 20px;
}
.address-container li:not(:last-child) {
  margin-bottom: 9px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.client-box {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--social-icon);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.client-card:hover,
.client-card:focus {
  color: var(--brand-blue);
  outline: transparent;
}
.invite {
  line-height: 1.14;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}
.invite-box {
  margin-left: 70px;
}
.social-links-bottom {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-transparent);
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: var(--timing-function);
}
.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--nearly-black);
}
.close-btn {
  background-color: transparent;
}
.newsletter-box {
  margin-left: auto;
}
.newsletter-section {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.btn-submit {
  background-color: var(--brand-blue);
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.06em;
  line-height: 1.9;
  padding: 10px 76px 10px 42px;
  box-shadow: 0px 4px 4px var(--medium-black);
  position: relative;
  fill: var(--white);
}
.send {
  position: absolute;
  top: 13px;
  right: 28px;
}
.newsletter-input {
  width: 358px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--border-white);
  filter: drop-shadow(0px 4px 4px var(--medium-black));
  padding: 15px 16px;
  color: var(--transparent-white);
  font-size: 16px;
  letter-spacing: 0.03em;
}
.check {
  display: block;
  position: relative;
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  top: 1px;;
  left: 15px;
  width: 16px;
  height: 15px;
  background-image: url(../images/check-box.svg);
}

.check__input:checked + .check__box {
  background-image: url(../images/check.svg);
}
.agreement__text {
  color: var(--light-grey);
text-align: right;}

.contact-form-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;x
  margin-bottom: 12px;
}
.contact-form-item {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--light-grey);
  margin-bottom: 4px;
  vertical-align: top;
}
.contact-form-input-box {
  position: relative;
}
.contact-form-label{display: block;
margin-bottom: 10px;}

.contact-form-input {
  width: 100%;
height: 40px;
padding-left: 42px;
font-size: 12px;
letter-spacing: 0.01em;
line-height: 1.2;
color: var(--black);
border-radius: 4px;
border: 1px solid var(--border-grey);
outline-style: none;
transition-property: border;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.contact-form-textarea {  
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  color: var(--black);
  border-radius: 4px;
  border: 1px solid var(--border-grey);
  resize: none;
outline-style: none;
transition-property: border;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);}

.contact__form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
} 
.contact-form-input:focus,
.contact-form-input:focus + .contact__form__icon {
  border-color: var(--brand-blue);
  fill: var(--brand-blue);
} 
.contact-form-textarea:focus {
  border-color: var(--brand-blue);
}
.agreement {display: flex;
gap: 24px;
justify-content: center;
margin-top: 20px;
}
.agreement__link {color: var(--brand-blue);
text-decoration: underline;}

.contact__form__btn{margin: 30px auto 0px;
width: 200px;
height: 50px;
background-color: var(--brand-blue);
color: var(--white);
font-size: 16px;
font-weight: 700;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px var(--medium-black);}